@model SERCCS.Models.Views.AuMasterViewModel
@{
    ViewData["Title"] = "AuMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .heading {
        /*  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
        color: #083669;
        font-size: 30px;
        text-align: center;
    }

    body {
        font-family: "Roboto", sans-serif;
    }

    .size {
        height: 30px;
        width: 180px;
    }

    .sizebig {
        height: 30px;
        width: 300px;
    }

    .divbox {
        background-color: #eaeef3;
        color: #474E93;
        border: 2px solid #474E93;
        border-radius: 20px;
        font-weight: bold
    }

    .tab {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold
    }

        .tab tbody {
            display: block;
            width: 600px;
            overflow: auto;
            height: 250px;
            text-align: center;
            color: #133E87;
        }

        .tab td, .tab th {
            border: 1px solid #004085;
            border-collapse: collapse;
            width: 600px;
        }

        .tab td {
            padding: 3px;
        }

        .tab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab tr:nth-child(odd) {
            background-color: white;
        }

        .tab tr:hover {
            background-color: #E1F7F5;
        }

        .tab th {
            padding: 5px;
            text-align: center;
            background-color: #0c2253;
            font-size: 13px;
            color: white;
            position: sticky;
            top: 0;
            border: 1px solid #ddd;
            /* border-radius: 5px*/
        }
</style>

<form asp-controller="Master" asp-action="AuMaster" method="post">
    <div style="height:10px"></div>
    <div class="heading mt-4">
        AU Master
    </div>

    <div class="container mt-1" cellpadding="0" cellspacing="0" border="1">
        <div class="container mt-1" cellpadding="0" cellspacing="0" border="1">
            <div class="row mt-3 justify-content-md-center">
                <div class="col-md-10 col-lg-10 col-12 pl-5 divbox">
                    <div class="row">
                        <div class="col-md-2 col-sm-12 col-12 mt-3">
                            AU:
                        </div>
                        <div class="col-md-8 col-sm-12 col-12 mt-3">
                            @Html.TextBoxFor(p => p.au, new { @class = "size", @onkeypress = "javascript: return evtau(event);" })
                        </div>
                    </div>
                    <div class="row mt-1 mb-3">
                        <div class="col-md-2 col-sm-12 col-12 mt-3">
                            Name:
                        </div>
                        <div class="col-md-8 col-sm-12 col-12 mt-3">
                            @Html.TextBoxFor(p => p.name, new { @class = "sizebig", @onkeypress = "javascript: return evtname(event);" })
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                            <button id="btnSave" type="button" name="btnSave" Height="40" Width="100" class="btn btn-sm" onclick="SaveData()">
                                Save | <i class="fa fa-check"></i>
                            </button>
                        </div>
                    </div>


                </div>
                <div class="row mt-2">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <div class="table-responsive mt-1">
                            <table id="AUList" class="tab">
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
       
        
    </div>
    <div style="height:50px"></div>
</form>

@section scripts
{
    <script src="~/js/jquery-3.6.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#au').focus();
            ShowTable();
        });

        function SaveData() {
            if ($('#au').val() == null || $('#au').val() == "") {
                alert("AU cannot Be Blanked");
                $('#au').focus();
            }
            else if ($('#name').val() == null || $('#name').val() == "") {
                alert("Name Cannot be Blank");
                $('#name').focus();
            }
            else {
                    let ModelObject = {
                        au: $('#au').val(),
                        name: $('#name').val(),
                    };
                    /*alert(JSON.stringify(ModelObject));*/
                    $.ajax({
                        url: '@Url.Action("SaveAuMaster", "Master")',
                        type: "POST",
                        data: ModelObject,
                        dataType: "json",
                        success: function (data) {
                            alert(data);                            
                            $('#au').val("");
                            $('#name').val("");
                            $('#au').focus();
                            ShowTable();                                                       
                        },
                        error: function (err) {
                            alert("Error Occured");
                        }
                    });
                 }
        }

        function ShowTable() {
            /*let ModelObject = { caste_id: $('#caste_id').val()};*/
                    $.ajax({
                    type: "POST",
                         url: '@Url.Action("GeList", "Master")',
                        //data: ModelObject,
                        dataType: "json",
                    success: function (data) {
                        document.getElementById("AUList").innerHTML = data;
                    },
                     error: function (err) {
                    //alert("Error Occured");
                     }
                    });
        }

        function evtau(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                $('#name').focus();
            }
        }

        function evtname(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                $('#btnSave').focus();
            }
        }
    </script>
}

